
body{
    background-image:url("https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=f1a9c02e2797fae6489142772a546fb5");
    background-repeat: no-repeat;
        background-color: #e9e9eb;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}
html{
    font-size: 14px;
}
.get-quote{
    font-family: Anton;
    font-size: 0.5rem;
    text-align: center;

}
.button-div{
    align-content: center;
    text-align: center;
}
.main-title{
    visibility: hidden;
}
.author{
    font-family: Lobster;
    font-size: 2rem;
    text-shadow: 2px 2px white;

}
.author-box{
    text-align: center;
        min-height: 95px;
        attachment:fixed;
        overflow: hidden;
}
.tweet-box{
    text-align: center;
        background-color:rgba(147, 147, 147, 0.6);
        text-shadow: 2px 2px black;
        attachment: fixed;
            margin-left: 5%;
    margin-right:5%;
    border-radius:15%;
}
.tweet-button{

}
.tweet-it{
    color:white;
    font-family: Poppins;
    font-size: 1.2rem;
}
.holder{
    text-align:center;
}
.quote-area{
    text-align: center;
    margin-left: 5%;
    margin-right:5%;
    background-color: rgba(0,0,0, 0.85);
    border-radius:12%;
 
}
.quote-text{
    color:white;
    font-size:1rem;
    text-align:center;
    text-outline: 2px 2px black;
    padding-right: 10%;
    padding-left:10%;
}

.bottom-thing{
    margin-top:10%;
    position: absolute;
    bottom:0;
}

.blank-space{
    padding-right: 2%;
}

@media all and (min-width:1000px ){
body{

  background-image:url("https://images.unsplash.com/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=f1a9c02e2797fae6489142772a546fb5");
  background-repeat: no-repeat;
  background-position: center;
}
html{
    font-size: 16px;
}
.author-box{
    text-align: center;
        min-height: 95px;
        attachment:fixed;
        overflow: hidden;
}
.main-title{
    visibility: visible;
    font-family: Patua One;
    text-shadow: 2px 2px white;
}
.quote-area{
    text-align: center;
    margin-left: 20%;
    margin-right:20%;
    background-color: rgba(0,0,0, 0.85);
    border-radius:12%;
 
}
.quote-text{
    font-size:2rem;
    font-family: Oswald;
    padding:5%;
}
}